pyautogui
keyboard
pymem
pywin32
requests
matplotlib
numpy
flask
torch
pandas
pygetwindow
bettercam
opencv-python
pyyaml
tqdm
seaborn
ipython
psutil
dxcam
onnxruntime_directml
torchvision
ultralytics
